@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    color: beige;
    background-color: rgb(46, 18, 18);
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #f5deb3;
}

/*stile per l'header*/
header {
    background-color: rgb(46, 18, 18);
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.nav-link {
    color: beige;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
}

.nav-link:hover {
    color: #f5deb3;
}

.nav-link.active {
    font-weight: bold;
}

.nav-link.active::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: beige;
    border-radius: 1px;
}

/*altro*/
main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/*stile per coffeeItem*/
.item-div {
    border: 1px solid beige;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 12px;
    box-shadow: 0 2px 4px rgb(103, 70, 70);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.item-div:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item-div strong {
    font-weight: 600;
    font-size: 1.1rem;
}

/*stile per Filters*/
.filter-div {
    margin-bottom: 20px;
}

input,
select {
    padding: 8px;
    margin: 10px 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.btn-container {
    display: flex;
    gap: 15px;
}

.backToList-btn,
.compare-btn {
    padding: 10px 20px;
    background-color: #f5deb3;
    color: rgb(46, 18, 18);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset-btn {
    padding: 10px 20px;
    background-color: #f5deb3;
    color: rgb(46, 18, 18);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 15px;
}

/*stile per pagina di comparazione*/
.compare-container {
    padding: 2rem;
}

.comparison-table {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.compare-card {
    flex: 1 1 300px;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    background: rgb(46, 18, 18);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
}

.compare-card h3 {
    margin-top: 0;
    color: beige;
}

.compare-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.compare-list li {
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
}

.compare-list li strong {
    display: inline-block;
    width: 120px;
    color: beige;
}